registry=https://registry.npmjs.org/
strict-ssl=true
auto-install-peers=true
shamefully-hoist=false
strict-peer-dependencies=false
fetch-retries=5
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
network-concurrency=16
